<!DOCTYPE html>

<html>

<head>
  <title>About</title>
  <link rel="icon" href="/images/weather.png" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Jeff Hall. It used data from MapBox.com and DarkSky.net</p>
    <img class="portrait" src="images/robot.png" />
  </div>

  {{>footer}}

</body>

</html>